
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #edeef1;
    min-height: 100vh;
    word-wrap: break-word;
    overflow-x: hidden;
}

/*/header/*/
.header {
    display: flex;
    z-index: 100;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 107px;
    background-color: white;
    animation: appearance 0.7s;
    user-select: none;
}

.menu-holder {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 80%;
    max-height: 107px;
    justify-content: space-between;
}

.left-side {
    display: flex;
    height: 51px;
    width: 235px;
    padding-top: 20px;
}

.left-side img {
    min-width: 105px;
    width: 74%;
    height: 100%;
}

.right-side {
    display: flex;
    max-height: 107px;
    width: 128px;
    padding-top: 23px;
    flex-direction: row;
    justify-content: space-between;
}

.bell-wrapper {
    display: flex;
    padding-top: 14px;
    height: 32px;
    width: 28px;
}

.bell-icon:hover {
    fill: #858689;
}

.profile-wrapper {
    height: 60px;
    width: 60px;
    user-select: none;
}

.profile-wrapper label {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 1;
}

.profile {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #e99c3f;
    font-size: 35px;
}

.profile-wrapper label:hover ~ .profile {
    background-color: #dc943c;
}

.profile-name {
    width: 240px;
    text-align: center;
    color: #919499;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 25px;
    border-bottom: 2px solid #9c9c9f;
}

.menu-wrapper {
    display: none;
    position: absolute;
    font-size: 25px;
    top: 93px;
    right: 10%;
    width: 300px;
    height: 194px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu {
    margin-top: 25px;
    padding-left: 42px;
    padding-right: 42px;
}

.menu li, .menu a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    cursor: default;
}

.menu li:nth-last-child(-n+1) {
    margin-top: 25px;
}

.menu li:nth-last-child(-n+1):hover, .menu li:nth-child(1):hover {
    background-color: #a1a2a5;
}

#checkbox-menu:checked ~ .menu-wrapper {
    display: block;
}

#checkbox-menu {
    display: none;
}


main{
    background-color: #edeef1;
}
.cards {
    display: grid;
    --width: 80vw;
    user-select: none;
    width: var(--width);
    height: calc(var(--width) / 2);
    overflow: hidden;
    grid-template-columns: [first] 25% [line2] 25% [line3] 31.25% [end] 18.75%;
    grid-template-rows: [row-start]37.5% [row-line2] 12.5% [row-line3] 12.5% [row-line4] 12.5% [row-line5] 12.5% [row-end]12.5%;
    margin-top: 210px;
    margin-left: 10%;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-preview {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.card-content {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-content span {
    display: block;
    padding: 20px;
}

.binary-item {
    grid-column-start: first;
    grid-column-end: first;
    grid-row-start: row-start;
    grid-row-end: row-line3;
}

.binary-card {
    transition: 0.6s;
    transform-style: preserve-3d;
}

.binary-container:hover .binary-card {
    transform: rotateY(180deg);
}

.binary-card .card-preview, .binary-card .card-content {
    backface-visibility: hidden;
}

.binary-card .card-preview {
    background-color: white;
}

.binary-card .card-content {
    width: 100%;
    transform: rotateY(180deg);
}

.binary-card .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.binary-card .card-content input {
    background-color: #3f96ff;
    font-size: 2rem;
    border-radius: 5%;
    border: none;
    color: white;
    padding: 12px 50px;
    text-decoration: none;
    cursor: pointer;
}

.binary-card .card-content input:hover {
    background-color: #0527ff;
}

.qa-item {
    grid-column-start: first;
    grid-column-end: first;
    grid-row-start: row-line3;
    grid-row-end: -1;
}

.qa-card .card-preview {
    font-size: 8rem;
    background-color: #70bc7e;
    color: white;
}

.qa-card {
    transition: 0.6s;
    transform-style: preserve-3d;
}

.qa-container:hover .qa-card {
    transform: rotateY(180deg);
}

.qa-card .card-preview, .qa-card .card-content {
    backface-visibility: hidden;
}

.qa-card .card-content {
    transform: rotateY(180deg);
}


/*/js/*/
.js-item {
    grid-column-start: line2;
    grid-column-end: line2;
    grid-row-start: row-start;
    grid-row-end: row-line5;
}

.js-card .card-preview {
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 8rem;
    background-color: #f1d079;
    color: black;
}

.js-card {
    transition: 0.6s;
    transform-style: preserve-3d;
}

.js-container:hover .js-card {
    transform: rotateY(180deg);
}

.js-card .card-preview, .js-card .card-content {
    backface-visibility: hidden;
}

.js-card .card-content {
    transform: rotateY(180deg);
}

/*/java/*/
.java-item {
    grid-column-start: line2;
    grid-column-end: line2;
    grid-row-start: row-line5;
    grid-row-end: -1;
}

.java-card .card-preview {
    font-size: 3rem;
    background-color: #cf3e50;
    color: white;
    transform-origin: bottom center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.java-container:hover .java-card .card-preview {
    transform: scaleY(0);
}

/*/php/*/
.php-item {
    grid-column-start: line3;
    grid-column-end: -1;
    grid-row-start: row-start;
    grid-row-end: row-start;
}

.php-card .card-preview {
    font-size: 7rem;
    background-color: #8a93bc;
    color: black;
    font-style: italic;
    transform-origin: top right;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.php-container:hover .php-card .card-preview {
    transform: scale(0);
}

/*/.NET/*/


.net-item {
    grid-column-start: line3;
    grid-column-end: line3;
    grid-row-start: row-line2;
    grid-row-end: -1;
}

.net-card .card-preview {
    font-size: 7rem;
    background-color: #5c2773;
    color: white;
    transform-origin: bottom right;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.net-container:hover .net-card .card-preview {
    transform: scale(0);
}

/*/events/*/
.events-item {
    grid-column-start: end;
    grid-column-end: -1;
    grid-row-start: row-line2;
    grid-row-end: row-line4;
}

.events-card .card-preview {
    font-size: 1.5rem;
    background-color: #4d99f7;
    color: white;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.events-container:hover .events-card .card-preview {
    transform: translateX(50%) scaleX(0);
}

/*/blog/*/
.blog-item {
    grid-column-start: end;
    grid-column-end: -1;
    grid-row-start: row-line4;
    grid-row-end: row-end;
}

.blog-card .card-preview {
    font-size: 1.5rem;
    background-color: #18449d;
    color: white;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.blog-container:hover .blog-card .card-preview {
    transform: translateX(50%) scaleX(0);
}

.contact-item {
    grid-column-start: end;
    grid-column-end: -1;
    grid-row-start: row-end;
    grid-row-end: -1;
}

.contact-card .card-preview {
    font-size: 1.5rem;
    background-color: #09265b;
    color: white;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.contact-container:hover .contact-card .card-preview {
    transform: translateX(50%) scaleX(0);
}

.contact-card .card-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.facebook-icon:hover {
    fill: #3f96ff;
}

.telegram-icon:hover {
    fill: #3f96ff;
}

.instagram-icon:hover {
    fill: #3f96ff;
}

.messages-wrapper {
    position: fixed;
    display: flex;
    right: 0;
    flex-direction: column;
    bottom: 0;
    margin-right: 25px;
    width: 230px;
    height: auto;
    z-index: 5;
}

.messages-wrapper > div {
    width: 100%;
    margin-bottom: 30px;
}

.message-block {
    display: flex;
    flex-direction: row;
    border-radius: 2%;
    user-select: none;
    color: white;
    opacity: 0.8;
    padding-top: 37px;
    padding-bottom: 36px;
}
.error-message{
    background-color: #ab190e;
}

.message-block li {
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
    word-wrap: break-word;
    margin: 0;
}
.message-text ul li:nth-child(1){
    font-weight: bold;
}
.message-block ul {
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
}

.image-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;

}
.image-message svg{
    fill: white;
    width: 40px;
    height: 40px;
}
.success-message{
    background-color: #129511;
}
/*/footer/*/
.footer{
    position: relative;
    bottom: 0;
    display: flex;
    margin-top: 40px;
    font-weight: bold;
    align-items: center;
    user-select: none;
    justify-content: center;
    height: 10%;
    width: 100%;
}
@keyframes appearance {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 972px) {
    .menu-holder {
        width: 90%;
        margin-left: 5%;
    }

    .cards {
        display: grid;
        --width: 90vw;
        width: var(--width);
        height: calc(var(--width) * 0.9);
        overflow: hidden;
        grid-template-columns: [first] 45% [line2] 5% [line3] 5% [line4] 5% [line5] 20% [end] 20%;
        grid-template-rows: [row-start]20% [row-line2] 20% [row-line3] 10% [row-line4] 25%  [row-end]25%;
        margin-top: 210px;
        margin-left: 5%;
    }

    .binary-item {
        grid-column-start: first;
        grid-column-end: first;
        grid-row-start: row-start;
        grid-row-end: row-line4;
    }

    .qa-item {
        grid-column-start: first;
        grid-column-end: line3;
        grid-row-start: row-end;
        grid-row-end: -1;
    }

    .js-item {
        grid-column-start: line2;
        grid-column-end: end;
        grid-row-start: row-start;
        grid-row-end: row-line4;
    }

    .java-item {
        grid-column-start: first;
        grid-column-end: line3;
        grid-row-start: row-line4;
        grid-row-end: row-end;
    }

    .php-item {
        grid-column-start: line3;
        grid-column-end: -1;
        grid-row-start: row-line4;
        grid-row-end: row-line4;
    }

    .net-item {
        grid-column-start: line3;
        grid-column-end: -1;
        grid-row-start: row-end;
        grid-row-end: -1;
    }

    .events-item {
        grid-column-start: end;
        grid-column-end: end;
        grid-row-start: row-start;
        grid-row-end: row-start;
    }

    .blog-item {
        grid-column-start: end;
        grid-column-end: -1;
        grid-row-start: row-line2;
        grid-row-end: row-line3;
    }

    .contact-item {
        grid-column-start: end;
        grid-column-end: -1;
        grid-row-start: row-line3;
        grid-row-end: row-line3;
    }

    .card-content, .binary-card .card-content input {
        font-size: 1rem;
    }

    .qa-card .card-preview, .net-card .card-preview {
        font-size: 4rem;
    }

    .blog-card .card-content {
        font-size: 0.8rem;
    }

    .blog-card .card-preview, .events-card .card-preview, .contact-card .card-preview {
        font-size: 1rem;
    }

    .php-card .card-preview {
        font-size: 3.5rem;
    }

    .java-card .card-preview {
        font-size: 2rem;
    }

    .js-card .card-preview {
        font-size: 5rem;
    }
    .icon{
        width: 20px;
        height: 20px;
    }
    .messages-wrapper{
     width: 200px;
    }
    .messages-wrapper>div{
        margin-bottom: 20px;
    }
    .message-block li{
        font-size: 11px;
    }
    .image-message{
        margin-right: 20px;
        margin-left: 20px;
    }

    .image-message svg {
        width: 25px;
        height: 25px;
    }
}

